<!DOCTYPE html>
<html>
    <head>
        <style>
            header{
                background-color: pink;
            }
            td{
                padding-left:10px;
                padding-right: 10px;
            }
        </style>
    </head>
    <body>
        <header>
            <table>
                <tr>
                    <td><img src alt="Library"> </td>
                    <td><p > User Dashboard</p></td>
                    <td><p> Admin  Dashboard </p></td>
                    <td><p> Statistics </p></td>
                </tr>
            </table>
            
        </header>
    </body>
</html> 

<!--
img, a (target="_blank"), p etc  (tags)
(attributes) style="color:red;", background color, border, font-family, font-size, border 2px solid blue
(design) strong, em, small, sup
breaks br hr  -->